*, body{
    width: auto;
}

.container{
    width: 100%;
}

.jumbotron {
    background-image: url(https://media0.giphy.com/media/3rTTQhsfdogZcxp6w3/giphy.gif?cid=3640f6095c69caa378526d6a55e603c0);
    background-size: cover;
    height: 100%;

}
