*, body{
    width: auto;
}

.container{
    width: 100%;
}

.jumbotron {
    background-image: url(/Users/alexkwashie/Desktop/WorkingFiles/Crypto-News-Site/Crypto/static/baan.jpeg);
    background-size: cover;
    height: 100%;

}
