{% extends 'base.html' %}

{% block content %}

<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <div class="container">
    <h4 id="fat">@fat</h4>
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Crypto News</h1>
      <p class="lead">Great place for crypto news and blockchain industry</p>
      <hr class="my-4">
      <p>See latest news and update below</p>
      <a class="btn btn-secondary btn-lg" href="https://cryptowat.ch/" target="_blank" role="button">See charts</a>
    </div>
  </div>
  <div class="container">
    <h4 id="mdo">News & Updates</h4>
    <br>


      <div class="container">
      <div class="row">

        {% for key in api.Data %}
        <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="{{key.imageurl}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{key.title}}</h5>
            <p class="card-text">{{key.body}}</p>
            <a href="{{key.url}}" class="btn btn-primary">Go somewhere</a>
          </div>
          </div>
          <br>
        </div>

          {% endfor %}
        </div>
      </div>

      {{price}}
    </p>
  </div>




  <h4 id="two">two</h4>
  <p>...</p>
  <h4 id="three">three</h4>
  <p>...</p>
</div>

{% endblock %}