{% extends 'base.html' %}

{% block content %}



<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Crypto News</h1>
      <p class="lead bur">Great source for crypto news and the blockchain industry</p>
      <hr class="my-4">
      <p>See latest news and update below</p>
      <a class="btn btn-secondary btn-lg" href="https://cryptowat.ch/" target="_blank" role="button">See charts</a>
    </div>
  </div>



  <div class="container" id="Top 10 Cryptocurrencies">
      <br> <br> <br> <br>
      <h4> Top 10 Cryptocurrencies</h4>

      <table class="table table-striped table-hover">

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Coin</th>
            <th scope="col">Price(USD)</th>
            <th scope="col">Amt. In Supply</th>
            <th scope="col">Mrk. Cap</th>
            <th scope="col">Total Vol. 24H </th>
            <th scope="col">Chg. 24H</th>
      </th>
        </thead>
      <tbody>
        {% for key, value in price.DISPLAY.items %}<!--items is a default function to s how items in a dictionary: outside html is written (items())-->
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{key}}</td>
            <td>{{value.USD.PRICE}}</td>
            <td>{{value.USD.SUPPLY}}</td>
            <td>{{value.USD.MKTCAP}}</td>
            <td>{{value.USD.TOTALVOLUME24H}}</td>
            <td>{{value.USD.CHANGEPCTDAY}}%</td>
            {%endfor%}
          </tr>
        </tbody>


      </table>
        </div>


  <!--News & Updates-->
  <div class="container" id="News & Updates">
  <br> <br> <br> <br>
    <h4 >News & Updates</h4>

    <br>
      <div class="container">
      <div class="card-deck">

        {% for key in api.Data %}
        <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="{{key.imageurl}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{key.title}}</h5>
            {% autoescape off %} <!--This removes HTML entities-->
      <p class="card-text">{{key.body|truncatechars:200}}</p>
            {% endautoescape %}
            <a href="{{key.url}}" class="btn btn-primary">Read more...</a>
          </div>
          </div>
          <br>
        </div>

          {% endfor %}

        </div>
      </div>
  </div>

  <br><br><br>
  <!--Footer-->
<footer class="blog-footer text-mute">
    <br>
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>A Cryptocurrency site to show recent news and updates from the blockchain world.<br>
        Many thanks to <a href="https://cryptocompare.com/">Cryptocompare</a> for providing web content</p>
      <p>Visit Cryptocompare <a href="https://min-api.cryptocompare.com/">Api</a></p>
      <p class="text-center">&copy; Alex Kwashie 2018</p>
    </div>
  </footer>

{% endblock %}

<!--{{price.DISPLAY.BTC.USD}}-->