{% extends 'base.html' %}


{% block content %}

<br><br><br><br>
<div class="container">
{% if  notfound1 %}

{{ notfound1 }}
{% else  %}

{% if searchoutput.Response%}
<h2 style="background: pink; border-radius: 6px; padding:2%;">{{quote}} is invalid, Please enter a Cryptocurrency shortcode. Eg. BTC -> Bitcoin</h2>
{% endif %}

{% for key, value in searchoutput.DISPLAY.items %}
    <div class="jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{key}}</h1>
        <p class="lead"> Current Price:{{value.GBP.PRICE}}</p>
        <p class="lead"> Day High: {{value.GBP.HIGHDAY}}</p>
        <p class="lead"> Day Low: {{value.GBP.LOWDAY}}</p>
        <p class="lead"> Days' Volume:{{value.GBP.VOLUMEDAY}}</p>
    </div>
    </div>
  {% endfor %}

{% endif %}

 {% endblock%}